nav#mp-menu.mp-menu
  .mp-level
    h2(class="icon " + getFileAtPath("index.html.jade").iconFontClass)!= site.title
    a.mp-close(href="#") close
    ul
      each doc in getCollection("html").findAll({isTopLevelPage:true}).toJSON()
        li.icon.icon-arrow-left
          a(href!= doc.url, class="icon " + doc.iconFontClass)!= doc.title
          .mp-level
            h2(class="icon " + doc.iconFontClass)!= doc.title
            a.mp-back(href="#") back
            ul
              each childDoc in getFilesAtPath(doc.locationOfChildren).toJSON()
                li.icon.icon-arrow-left
                  a(class="icon " + childDoc.iconFontClass)!= childDoc.title
                  .mp-level
                    h2(class="icon " + childDoc.iconFontClass)!= childDoc.title
                    a.mp-back(href="#") back
                    ul
                      each grandChildDoc in getFilesAtPath(childDoc.locationOfChildren).toJSON()
                        li: a(class="icon " + grandChildDoc.iconFontClass, href!= grandChildDoc.url)!= grandChildDoc.title