---
layout: "default"
title: "home"
iconFontClass: "icon-world"
---

h1 Multi-Level Off-Canvas Menu w/ Jade & SCSS

p This Docpad Skeleton utilizes the menu prototype from Codrops.  The CSS icons are Linecons by default, but the skeleton allows for easy changing.